<!--页脚js片段-->
<div th:fragment="foot" xmlns:th="http://www.w3.org/1999/xhtml">
    <script type="text/javascript" th:src="@{bootstrap-3/js/jquery-3.2.1.min.js}"></script>
    <script type="text/javascript" th:src="@{bootstrap-3/js/bootstrap.min.js}"></script>
    <script type="text/javascript" th:src="@{bootstrap-3/js/bootstrap-table.min.js}"></script>
    <script type="text/javascript" th:src="@{bootstrap-3/js/bootstrap-table-zh-CN.min.js}"></script>
    <script type="text/javascript" th:src="@{bootstrap-3/js/jquery-confirm.min.js}"></script>
    <script type="text/javascript" th:src="@{bootstrap-3/js/layer.js}"></script>
    <script type="text/javascript" th:src="@{ztree/jquery.ztree.all.min.js}"></script>
</div>