<!--页面开头片段-->
<head th:fragment="head" xmlns:th="http://www.w3.org/1999/xhtml">
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <link rel="stylesheet" th:href="@{bootstrap-3/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{bootstrap-3/css/bootstrap-table.min.css}"/>
    <link rel="stylesheet" th:href="@{bootstrap-3/css/font-awesome.min.css}"/>
    <link rel="stylesheet" th:href="@{bootstrap-3/css/jquery-confirm.min.css}"/>
    <link rel="stylesheet" th:href="@{bootstrap-3/js/skin/default/layer.css}"/>
    <link rel="stylesheet" th:href="@{ztree/css/metroStyle/metroStyle.css}"/>
</head>
