<!--代码生成片段-->
<div id="page" th:fragment="tables" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:shiro="http://www.w3.org/1999/xhtml">
    <div id="toolbar">
        <!--<button shiro:hasPermission="sys:table:genOne" id="genOne" class="btn btn-primary  fa fa-file-code-o">&nbsp;生成代码-->
        <!--</button>-->
        <!--<button id="genAll" class="btn btn-success fa fa-file-code-o"> 生成全部</button>-->
    </div>
    <table id="table"></table>
    <script type="text/javascript" th:src="@{/js/tables.js}"></script>
    <script type="text/javascript" th:src="@{/js/page.js}"></script>
</div>